# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db

# Project-specific ignores
SHRIMP.zip
SHRIMP/

# Environments and Secrets
.env
.env.*
.venv/
venv/
*.json
*.pt

