Pillow
backtrader
bcrypt
beautifulsoup4
chromadb
edge_tts
fastapi
fitz
flask
folium
google
httpx
jieba
joblib
jose
langchain_community
langchain_core
langchain_ollama
langchain_openai
langchain_text_splitters
langgraph
lightgbm
loguru
manim
matplotlib
moviepy
mplfinance
numpy
ollama
openai
opencc
opencv-python
openpyxl
pandas
playwright
plotly
psutil
pydantic
pydantic_settings
pygame
pytest
python-docx
python-dotenv
reportlab
requests
scikit-learn
scipy
seaborn
selenium
streamlit_folium
supabase
ta
torch
torchvision
urllib3
uvicorn
xgboost
yfinance
